<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <form action="/insert" method="post">
            <div class="form-group">
                <label>seller_id</label>
                <input type="number" class="form-control" name="seller_id">
            </div>
            <div class="form-group">
                <label>title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label>description</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="form-group">
                <label>price</label>
                <input type="number" class="form-control" name="price">
            </div>
            <div class="form-group">
                <label>url</label>
                <input type="text" class="form-control" name="url">
            </div>
            <div class="form-group">
                <label>views</label>
                <input type="text" class="form-control" name="views">
            </div>
            <div class="form-group">
                <label>images</label>
                <input type="text" class="form-control" name="images">
            </div>
            <div class="form-group">
                <label>comments</label>
                <input type="text" class="form-control" name="comments">
            </div>
            <div class="form-group">
                <label>tags</label>
                <input type="text" class="form-control" name="tags">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">submit</button>
        </form>
    </div>

</div>
</body>
</html>